@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

$ff: Inter;

button {
    cursor: pointer;
}

* {
    outline: none !important;
}

@mixin noSelect{
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none;  
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

.todoPage{
    zoom: 0.85;
    * {
        font-family: $ff;
    }
    .bttn:hover{
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    }
    .bttn:active {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        background-color: rgba(0, 0, 0, 0.02);
    }
    @mixin sArrow {
        width: 7px;
        height: 7px;
        border-top: 1.5px solid #0047FF;
        border-right: 1.5px solid #0047FF;
        margin-left: -5px;
        margin-right: 5px;
        margin-bottom: 3px;
        display: inline-block;
    }
    .sArrowD {
        @include sArrow();
        transform: rotate(45deg);
    }
    .sArrowU {
        @include sArrow();
        transform: rotate(135deg);
    }
    header {    
        .headCont{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            height: 110px;
            width: 1247px;
            *{
                display: inline-block;
            }
            h1 {
                font-weight: 600;
                font-size: 32px;
                color: #FF7A00;
                span {
                    color: black;
                }
            }
            h2 {
                margin-right: 15px;
                font-weight: normal;
                font-size: 18px;
                color: #0047FF;
                @include noSelect();
            }
            button {
                background: white;
                border: 2px solid #0047FF;
                box-sizing: border-box;
                border-radius: 8px;
                color: #0047FF;
                width: 203px;
                height: 56px;
                font-weight: 500;
                font-size: 18px;
            }
        }
    }
    .todoH {
        font-weight: 500;
        font-size: 36px;
        width: 1247px;
        margin-left: auto;
        margin-right: auto;
    }
    .mainCont{
        margin-bottom: 100px;
        width: 1247px;
        height: 618px;
        h2 {
            font-weight: 500;
            font-size: 18px;
            user-select: none;
        }
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        .leftFilt {
            height: 904px;
            width: 320px;
            border-color: #F0F0F0;
            border-right: 1px;
            .titleFilt {
                .titleInp {
                    width: 300px;
                    height: 50px;
                    border: 1px solid #9299B0;
                    box-sizing: border-box;
                    border-radius: 6px;
                    * {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .loupe {
                        width: 16px;
                        margin-top: 12px;
                        height: 17px;
                        background: url("../../icons/loupe.png") center no-repeat;
                        background-size: cover;
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                    input {
                        margin-top: 13px;
                        height: 18px;
                        font-weight: normal;
                        font-size: 16px;
                        width: 248px;
                        border: unset;
                    }
                }
            }
            .periodFilt {
                .perInp {
                    display: inline-block;
                    margin-right: 5px;
                }
                
                input {
                    width: 136px;
                    height: 50px;
                    border: 1px solid #9299B0;
                    border-radius: 6px;
                    display: inline-block;
                    text-align: center;
                }
                .horLine{
                    display: inline-block;
                    width: 14px;
                    height: 1px;
                    background: #9299B0;
                    border-radius: 1px;
                    margin-right: 5px;
                }
            }
        }
        hr {
            border: 1px solid #F0F0F0;
        }
        .rightTable {
            width: 904px;
            height: 618px;
            margin-left: 15px;
            div {
                box-sizing: border-box;
                border-bottom: 1px;
                display: grid;
                grid-template-columns: 384px 183px 183px 1fr;
                padding-left: 10px;
                h3 {
                    font-weight: normal;
                    font-size: 18px;
                }
                .greyH {
                    color: #6A6F80;
                }
                .blueH {
                    color: #0047FF;
                }
            }
        }
    }
}